[submodule ".config/zgen"]
	path = .config/zgen
	url = https://gitlab.com/dawidpotocki/zgen.git
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://gitlab.com/dawidpotocki/dmenu.git
[submodule ".config/st"]
	path = .config/st
	url = https://gitlab.com/dawidpotocki/st.git
[submodule ".config/mutt"]
	path = .config/mutt
	url = https://gitlab.com/dawidpotocki/mutt-wizard.git
