[submodule ".config/zgen"]
	path = .config/zgen
	url = https://gitlab.com/dawidpotocki/zgen.git
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://gitlab.com/dawidpotocki/dmenu.git
[submodule ".config/st"]
	path = .config/st
	url = https://gitlab.com/dawidpotocki/st.git
[submodule ".config/mutt"]
	path = .config/mutt
	url = https://gitlab.com/dawidpotocki/mutt-wizard.git
[submodule ".themes/biual-theme"]
	path = .themes/biual-theme
	url = https://gitlab.com/dawidpotocki/biual-theme.git
[submodule ".local/share/sxiv"]
	path = .local/share/sxiv
	url = https://gitlab.com/dawidpotocki/sxiv.git
[submodule ".mozilla/firefox"]
	path = .mozilla/firefox
	url = https://gitlab.com/dawidpotocki/biualfox.git
[submodule ".local/share/torbrowser"]
	path = .local/share/torbrowser
	url = https://gitlab.com/dawidpotocki/torbrowser-biual
