! special
*.foreground: #aaaaaa
*.background: #1d1f30

! black
*.color0:     #1d1f30
*.color8:     #2a3145

! red
*.color1:     #b54848
*.color9:     #b54848

! green
*.color2:     #7c933f
*.color10:    #7c933f

! yellow
*.color3:     #af774f
*.color11:    #af774f

! blue
*.color4:     #5f819d
*.color12:    #5f819d

! magenta
*.color5:     #915b8d
*.color13:    #915b8d

! cyan
*.color6:     #5e8d87
*.color14:    #5e8d87

! white
*.color7:     #aaaaaa
*.color15:    #aaaaaa

st.font: DejaVu Sans Mono:pixelsize=15:antialias=true:autohint=true:hintstyle=hintmedium
