! Color scheme
*.background: #0a0a30
*.foreground: #9b9cb5

! black
*.color0:     #0a0a30
*.color8:     #10105b

! red
*.color1:     #aa2f46
*.color9:     #aa2f46

! green 
*.color2:     #2a9361
*.color10:    #2a9361

! yellow
*.color3:     #a0782e
*.color11:    #a0782e

! blue
*.color4:     #226ebf
*.color12:    #226ebf

! magenta
*.color5:     #aa2f83
*.color13:    #aa2f83

! cyan
*.color6:     #2a9392
*.color14:    #2a9392

! white
*.color7:     #9b9cb5
*.color15:    #9b9cb5
