/* 
 * This CSS is made for GitLab.
 * qutebrowser should support soon setting css per domain
 * now, it isn't possible so well yeah...
*/

* {
	color: #b4b5d3 !important;
	border-color: #070723 !important;
	background-color: #070723 !important;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, time {
	color: #b4b5d3 !important;
}
